* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    margin: 0;
    background-color: #333;
    color: #222;
}

.container {
    background-color: #fafafa;
    transform-origin: top left;
    transition: transform .3s linear;
    width: 100vw;
    min-height: 100vh;
    padding: 110px;
}

.container.show-nav .circle {
    transform: rotate(-70deg);
}

.container.show-nav {
    
    transform: rotate(-20deg);
}

.circle-container {
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle {
    background-color: #79A33D;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform .3s linear;
}


.circle button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.circle button:focus {
    outline: none;
}

.circle button#open {
    left: 60%;
}

.circle button#close {
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

.container.show-nav + nav li {
    transform: translateX(0);
    transition-delay: 0.1s;
}

.content.doodle {
    width: 100%;
    max-width: 1000px;
    max-height: 600px
}

.content {
    max-width: 1000px;
    margin: 0px auto;
}

.content h1 {
    margin: 0;
}

.content small {
    color: #555;
    font-style: italic;
}

.content p {
    color: #333;
}

nav {
    position: fixed;
    left: 0;
    bottom: 40px;
}

nav ul {
    list-style-type: none;
    padding-left: 30px;
}

nav ul li {
    text-transform: uppercase;
    color: white;
    margin: 50px auto;
    transform: translateX(-200%);
    transition: all 1s ease-in-out;
}

nav ul li i {
    margin-right: 10px;
    font-size: 20px;
}

nav ul li + li {
    margin-left: 20px;
}

nav ul li + li + li {
    margin-left: 40px;
}

