* {
    box-sizing: border-box;
}

body {
    background-color: rgb(250, 249, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    overflow-x: hidden;
}

.box {
    display: flex !important;
    margin-top: 2rem;
    width: 40rem;
    height: 15rem;
    border: 2px solid black;
    border-radius: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 1px 10px 0px black;
    transform: translateX(400%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform: translateX(-400%);
}

.box.show {
    transform: translateX(0);
}